{
    autohide = 0;
    "autohide-delay" = 0;
    "autohide-immutable" = 1;
    "autohide-time-modifier" = 0;
    "contents-immutable" = 1;
    "dblclickbehavior-immutable" = 1;
    "expose-animation-duration" = 0;
    "expose-group-apps" = 0;
    largesize = 25;
    launchanim = 0;
    "launchanim-immutable" = 1;
    magnification = 1;
    "magnify-immutable" = 1;
    "magsize-immutable" = 1;
    mineffect = scale;
    "mineffect-immutable" = 1;
    "minimize-to-application" = 0;
    "minintoapp-immutable" = 1;
    "mru-spaces" = 0;
    "no-bouncing" = 1;
    orientation = right;
    "position-immutable" = 1;
    "scroll-to-open" = 1;
    "show-process-indicators" = 1;
    "show-recents" = 0;
    showAppExposeGestureEnabled = 1;
    showDesktopGestureEnabled = 0;
    showLaunchpadGestureEnabled = 0;
    "showindicators-immutable" = 1;
    "size-immutable" = 1;
    tilesize = 16;
    version = 1;
    "windowtabbing-immutable" = 1;
}
