<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>allowDataLocalInfile</key>
			<integer>0</integer>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>main_service</string>
			<key>enableClearTextPlugin</key>
			<integer>0</integer>
			<key>host</key>
			<string>dev-nfcdb-cluster.cluster-ro-cyontpmpyyfq.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>-4532323992997132918</integer>
			<key>name</key>
			<string>dev</string>
			<key>port</key>
			<string>3306</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>timeZone</key>
			<string></string>
			<key>timeZoneMode</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>nfcadmin</string>
		</dict>
		<dict>
			<key>allowDataLocalInfile</key>
			<integer>0</integer>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>main_service</string>
			<key>enableClearTextPlugin</key>
			<integer>0</integer>
			<key>host</key>
			<string>mlstg-nfcdb-cluster.cluster-ro-cyontpmpyyfq.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>1394596866242834311</integer>
			<key>name</key>
			<string>ml-staging</string>
			<key>port</key>
			<string>3306</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>timeZone</key>
			<string></string>
			<key>timeZoneMode</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>nfcadmin</string>
		</dict>
		<dict>
			<key>allowDataLocalInfile</key>
			<integer>0</integer>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>nfcdb</string>
			<key>enableClearTextPlugin</key>
			<integer>0</integer>
			<key>host</key>
			<string>prd-nfc-aurora-001.cluster-ro-crg3dvue5yvf.ap-northeast-1.rds.amazonaws.com</string>
			<key>id</key>
			<integer>2897357420750157187</integer>
			<key>name</key>
			<string>production</string>
			<key>port</key>
			<string>3306</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>timeZone</key>
			<string></string>
			<key>timeZoneMode</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>ml-kanyu_jin</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>allowDataLocalInfile</key>
					<integer>0</integer>
					<key>colorIndex</key>
					<integer>-1</integer>
					<key>database</key>
					<string>main_service</string>
					<key>enableClearTextPlugin</key>
					<integer>0</integer>
					<key>host</key>
					<string>dev-nfcdb-cluster.cluster-cyontpmpyyfq.ap-northeast-1.rds.amazonaws.com</string>
					<key>id</key>
					<integer>8885089721579534995</integer>
					<key>name</key>
					<string>dev (rw)</string>
					<key>port</key>
					<string>3306</string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>timeZone</key>
					<string></string>
					<key>timeZoneMode</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>nfcadmin</string>
				</dict>
				<dict>
					<key>allowDataLocalInfile</key>
					<integer>0</integer>
					<key>colorIndex</key>
					<integer>-1</integer>
					<key>database</key>
					<string>main_service</string>
					<key>enableClearTextPlugin</key>
					<integer>0</integer>
					<key>host</key>
					<string>mlstg-nfcdb-cluster.cluster-cyontpmpyyfq.ap-northeast-1.rds.amazonaws.com</string>
					<key>id</key>
					<integer>-8089282881996853104</integer>
					<key>name</key>
					<string>ml-staging (rw)</string>
					<key>port</key>
					<string>3306</string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>timeZone</key>
					<string></string>
					<key>timeZoneMode</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>nfcadmin</string>
				</dict>
				<dict>
					<key>allowDataLocalInfile</key>
					<integer>0</integer>
					<key>colorIndex</key>
					<integer>-1</integer>
					<key>database</key>
					<string>nfcdb</string>
					<key>enableClearTextPlugin</key>
					<integer>0</integer>
					<key>host</key>
					<string>prd-nfc-aurora-001.cluster-crg3dvue5yvf.ap-northeast-1.rds.amazonaws.com</string>
					<key>id</key>
					<integer>-4955898693768115825</integer>
					<key>name</key>
					<string>production (rw)</string>
					<key>port</key>
					<string>3306</string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>timeZone</key>
					<string></string>
					<key>timeZoneMode</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>ml-kanyu_jin</string>
				</dict>
			</array>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>read-write</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>allowDataLocalInfile</key>
					<integer>0</integer>
					<key>colorIndex</key>
					<integer>-1</integer>
					<key>database</key>
					<string></string>
					<key>enableClearTextPlugin</key>
					<integer>0</integer>
					<key>host</key>
					<string></string>
					<key>id</key>
					<integer>6948487063210627211</integer>
					<key>name</key>
					<string>Production</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string></string>
					<key>sshKeyLocation</key>
					<string></string>
					<key>sshKeyLocationEnabled</key>
					<integer>0</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string></string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>timeZone</key>
					<string></string>
					<key>timeZoneMode</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string></string>
				</dict>
			</array>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>Smart Order</string>
		</dict>
	</array>
</dict>
</plist>
